[Desktop Entry]
Name=Brightness
Name[zh_CN]=Brightness
Comment=britness Client
Exec=/usr/share/applications/WS_xinchDSI_Backlight_arm64
Icon=/usr/share/applications/WS_xinchDSI_Backlight_arm64.png
Terminal=false
Type=Application
Categories=Utility;
Encoding=UTF-8
StartupNotify=true
